<!DOCTYPE html>
<html lang='en'>

  <head>
    <link type='text/css' rel='stylesheet' href='css/stylesheet.css'/>
  </head>

  <title>Kev Loves Kanye 4eva</title>

  <body>
    <h1>Kev Loves Kanye 4eva</h1>
    <ul id="kanyeTweetList">
      <% for(var i = 0; i < tweets.length; i++) { %>
        <li class="kanyeTweet">
          <p class='tweet_text'><%= tweets[i].text %></p>
          <% if(tweets[i].entities.hashtags.length > 0) { %>
            <% for(var j = 0; j < tweets[i].entities.hashtags.length; j++) { %>
              <p class="tweet_hashtag">#<%= tweets[i].entities.hashtags[j].text %></p>
            <% } %>
          <% } %>
          <p class='tweet_created_at'>(<%= tweets[i].created_at %>)</p>
        </li>
      <% } %>
    </ul>
  </body>

</html>
